.colorcraft.bold {
    font-weight: bold;
}

.colorcraft.italic {
    font-style: italic;
}

.colorcraft.underline {
    text-decoration: underline;
}

.colorcraft.strikethrough {
    text-decoration: line-through;
}

.colorcraft.magic {
    /* JavaScript will handle this obfuscated text. */
}

.colorcraft.reset {
    color: initial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
